<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Train</title>
</head>
<body style="background-color:beige";>
<h1 align="center">List Of Trains</h1>
<table border="1" align="center" style="background-color:cornsilk";>
<thead>
<tr>
<th>Train Name</th>
<th>Train Number</th>
<th>Train Start Time</th>
<th>Train End Time</th>
<th>Total Seats</th>
<th>Actions</th>
</tr>
</thead>
<tbody>
<tr th:each="tr:${Train}">
<td th:text="${tr.train_name}"/>
<td th:text="${tr.train_number}"/>
<td th:text="${tr.start_time}"/>
<td th:text="${tr.end_time}"/>
<td th:text="${tr.total_seats}"/>
<td><button type="button">Book Seats</button></td>

</tr>
</tbody>
</table>
</body>
</html>